.container {
    width: 660px;
    height: 470px;  
    border: 1px solid black;
    padding: 10px;
    overflow: auto;
}
.list {
    display: flex;
    flex-wrap: wrap;
    
}
.meme-item {
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 15px 20px 0 20px;
    &:hover {
        box-shadow: 0 0 7px 4px lightgray;
        transition: all 0.2s;
    }
    & p {
        margin: 0;
    }
}
.memeimg {
    width: 60px;
    height: 60px;
}
.tomeme-link {
    color: black;
    text-decoration: none;
}